<body>
  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="ui card five wide column space">
      <div class="image">
        <img src="assets/dawn2.jpg">
      </div>
      <div class="content">
        <h1 class="jobTitle">Dawn Lavoie</h1>
        <div class="content">
          <h3 class="jobTitle">President, CEO</h3>
        </div>
        <div class="description">
          Dawn Lavoie, President/Owner, CEO, is a talented, results-producing professional with a proven record of accomplishment in planning and leading comprehensive programming goals and objectives. Dawns experiences include expertise in <br> human anatomy, and the direct delivery of services to over 4,300 individuals in marketing and research in Northwest Florida. Her exceptional management <br> and organizational skills has provided the execution of innovative programs the through implementation of key community based projects, solid leadership skills, and the ability to build and guide top-performing marketing strategies.
        </div>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="ui card five wide column space">
      <div class="image">
        <img src="assets/Jim.jpg">
      </div>
      <div class="content">
        <h1 class="jobTitle">Jim Lavoie</h1>
        <div class="content">
          <h3 class="jobTitle">Vice-President, CTO</h3>
        </div>
        <div class="description">
          Jim Lavoie, Vice President, CTO, has over 35 years of military experience including applied human system integration and crew systems behavioral sciences for the MH-60S Multi Mission Helicopter. Recent experience includes lead Crew Systems Engineer for MH-60S, representing pilots, aircrew, and all associated interface systems for the AMCM Systems Engineering Integration Team. As a human systems integration manager for 10 years, Jim has provided products and engineering support including program safety requirements, operator interface requirements, and human factors assessments. Jim’s 20 years of experience as a Naval Aircrewman provides valuable operational insight to the projects he supports.
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</body>
