<body>
  <div class="ui grid">
    <div class="two wide column"></div>
    <h3 class="ui block header nine wide column skillHeader vHeader">
    A Comprehensive Approach
    </h3>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
      <div class="ui segment nine wide column skillInfo">
        <p>The human element is the most important link in achieving mission success. The principles of Human Systems Integration (HSI) are utilized to building effective and efficient interfaces between people, technology; and the context within which they function. Viridian Shores LLC understands that HSI is a critical component of any successful  project or system.</p>
      </div>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
    <h3 class="ui block header nine wide column skillHeader vHeader">
      Work Environment
    </h3>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
      <div class="ui segment nine wide column skillInfo">
        <p>Systems, equipment, and facilities need to provide a work environment that fosters effective procedures, work patterns, and personnel safety and health, by minimizing the factors that degrade human performance and increase error. System designs and workspaces need to ensure operator workload, accuracy requirements, time constraints, mental processing, and communication do not exceed the operators capabilities. Poor design leads to increased cost and decreased safety.</p>
      </div>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
    <h3 class="ui block header nine wide column skillHeader vHeader">
      Services
    </h3>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
      <div class="ui segment nine wide column skillInfo">
        <p>From tackling personal decisions to reaching important milestones, my job is to guide you on the path of success. As a professional Engineering Consultant , I guarantee great results. I’m fueled by my commitment to excellence and go the extra mile to make sure clients are fully satisfied with my work. Get in touch with me today for a free consultation.</p>
      </div>
    <div class="five wide column"></div>
    <div class="two wide column"></div>
    <div class="ui list four wide column">
      <div class="item">
        <h3 class="ui block segment vHeader dFence">
          <i class="shield icon"></i>
          Department of Defense
        </h3>
        <ul class="ui list segment skillList">
          <li class="moveRight">DUNS Number:</li>
          <p class="moveRight"> 079444515 </p>
          <li class="moveRight">CAGE Code:</li>
          <p class="moveRight"> 785N5
          <li class="moveRight">NAICS Codes:</li>
          <p class="moveRight"> 541330 </p>
          <p class="moveRight"> 541690 </p>
          <p class="moveRight"> 541720 </p>
        </ul>
        <div class="ten wide column"></div>
      </div>
    </div>
  </div>
</body>
