<body>
  <div class="ui grid">
    <div class="one wide column"></div>
    <div class="header six wide column vHeader prevSkills"><i class="cogs icon"></i>Previous Skills</div>
    <div class="two wide column"></div>
    <div class="header six wide column vHeader prevSkills"><i class="cogs icon"></i>Technical Areas</div>
    <div class="one wide column"></div>
    <div class="one wide column"></div>
    <ul class="ui segment six wide column prevTech">
      <ul>
        <li>Navy HSI Policy and Process Development</li>
        <li>HSI Porject Management</li>
        <li>Crew Station Design, Analysis and Verification</li>
        <li>Mockups, Rapid Prototyping, and Simliation</li>
        <li>Technical Manual Review</li>
        <li>Crew System Working Groups</li>
        <li>System Safety Working Groups</li>
        <li>Test and Evaluation</li>
        <li>In-Service Fleet Support (MH-60R&amp;S, Airborne Mine Countermeasures, Distributed Aperture IR Countermeasures)</li>
        <li>Behavioral Science Evaluation</li>
        <li>Engineering Data Requirements</li>
      </ul>
    </ul>
    <div class="two wide column"></div>
    <ul class="ui segment six wide column techno">
      <ul>
        <li>Human Systems Integration (HSI)</li>
        <li>HSI Policy and Process Development</li>
        <li>HSI Porject Management</li>
        <li>Test and Evaluation</li>
        <li>Control Display Integration</li>
        <li>Control Display Integration</li>
        <li>Psychological Testing and Assessments in the Workplace</li>
        <li>Behavioral Science Evaluation</li>
        <li>Crew Station Design, Analysis and Verification</li>
        <li>Aircrew Accommodation</li>
        <li>Crew System Working Groups</li>
        <li>Crashowrthy Systems (Includes egress, and interfaces)</li>
        <li>Porgram Evaluationand Measurement</li>
        <li>Quantitative and Qualitative Analysis</li>
        <li>Technical Manual Review</li>
        <li>Scientific and Technical Consulting Services</li>
        <li>Research and Development in the Social Sciences and Humanities</li>
        <li>Engineering Services</li>
        <li>Workload Analysis</li>
      </ul>
    </ul>
    <div class="one wide column"></div>
  </div>
</body>
